<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Menu</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href='lib/MSUiPanel/css/style.css' rel='stylesheet'>
    <script src="lib/MSUiPanel/scripts/main.js"></script>

    <link href='css/style.css' rel='stylesheet'>
    <script src="scripts/main.js"></script>

    <script src="scripts/UiPanels/AdminPanel.js"></script>
    <script src="scripts/UiPanels/PlayerInfo.js"></script>
    <script src="scripts/UiPanels/PlayerList.js"></script>
    <script src="scripts/UiPanels/PlayerLogs.js"></script>
    <script src="scripts/UiPanels/PlayerOptions.js"></script>
    <script src="scripts/UiPanels/ServerInfo.js"></script>
    <script src="scripts/UiPanels/ServerLogs.js"></script>
    <script src="scripts/UiPanels/ServerOptions.js"></script>
    <script src="scripts/UiPanels/Teleport.js"></script>
    <script src="scripts/UiPanels/VehicleSpawner.js"></script>
    <script src="scripts/UiPanels/Weather.js"></script>
    <script src="scripts/UiPanels/Kick.js"></script>
    <script src="scripts/UiPanels/Ban.js"></script>
  </head>
  <body></body>
</html>
