<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/master.css">
    <title>Document</title>
</head>
<body>
    <div class="select-bar">
        <button class="left-button" onclick="alt.emit('previous')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -4 19 12" width="25px" height="25px"><path d="M 0 0 L 9 0 L 9 4 L 0 4 L 0 8 L -10 2 L 0 -4" fill="currentColor"/></svg></button>
        <button class="select-button" onclick="alt.emit('play')">Spielen</button>
        <button class="right-button" onclick="alt.emit('next')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -4 19 12" width="25px" height="25px"><path d="M 10 0 L 0 0 L 0 4 L 10 4 L 10 0 L 10 -4 L 19 2 L 10 8 L 10 4" fill="currentColor"/></svg></button>
    </div>
    <div class="add-bar">
        <button class="add-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" width="40px" height="40px"><path d="M 497 504 z z M 683.8 530.6 H 530.6 v 153.1 c 0 16.9 -13.7 30.6 -30.6 30.6 s -30.6 -13.7 -30.6 -30.6 V 530.6 H 316.3 c -16.9 0 -30.6 -13.7 -30.6 -30.6 s 13.7 -30.6 30.6 -30.6 h 153.1 V 316.3 c 0 -16.9 13.7 -30.6 30.6 -30.6 s 30.6 13.7 30.6 30.6 v 153.1 h 153.1 c 16.9 0 30.6 13.7 30.6 30.6 S 700.7 530.6 683.8 530.6 z" fill="currentColor"/></svg></button>
    </div>
</body>
</html>